<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {{ style("css/reset") }}
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <div class="icon-logo">
                
            </div>
            <div class="pg">
                <h1>Party Games</h1>
            </div>
        </div>
        <div class="user">

        </div>
    </div>
    <div class="rockman">
        <div class="title">
            <div class="header">
                <h1>Party Games</h1>
            </div>
            <div class="paragraph">
                <p>You are not limited to the features of this template. It is suitable for gaming
                site, and for any business project. Pre-packed demos will help you to quickly
                run your new creative website.</p>
                <button>POST</button>
            </div>
        </div>
    </div>
</body>
</html>