.box-details{
    height: 500px;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.img-details{
    background-image: url(../images/Games/ow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 100%;
}

.details{
    width: 50%;
    height: 100%;
}

.details p{
    color: black;
}

.details .top{
    height: 70%;
}

.details .bottom{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.bottom button{
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #57A4CC;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.bottom button:hover{
    background-color: #1E3859;
}