*{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    background: rgba(8,3,37,.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    position: fixed;
}

.logo{
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: #747FAE;
}

.icon-logo{
    width: 50px;
    height: 50px;
    background-image: url(../images/joystick.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.pg{
    margin-left: 10px;
    padding: 5px 0 0 0;
    text-align: left;
    width: 200px;
}

h1{
    text-align: left;
    margin: 0;
}

.user{
    text-align: right;
    width: 300px;
    height: 40px;
    border-radius: 50px;
}

.user a img {
    width: 40px;
    height: 40px;
}

.rockman{
    width: 100%;
    height: 100vh;
    background-image: url(../images/rockman.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: unset;
}

.title{
    font-size: 20px;
    width: 600px;
    height: 200px;
    margin: 0 0 100px 130px;
}

.header{
    font-size: 30px;
    color: #B4CFD6;

}

.paragraph{
    margin: 50px 0 0 0;
}

.paragraph button{
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    background-color: unset;
    border: 2px solid #4678B0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.paragraph button:hover{
    background-color: #1E3859;
}

p{
    margin: 0;
    color: #B4CFD6;
}

.post{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.post a{
    text-decoration: none;
}

.warp{
    width: 100%;
    display: flex;
    justify-content: center;
}

.warp a{
    text-decoration: none;
    color: black;
}

.games{
    /* width: 30%; */
    margin: 25px;
    box-shadow: black;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}

.games-images{
    width: 320px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../images/Games/ow.jpg); */
    border-radius: 10px 10px 0 0;
}

.games-details{
    width: 320px;
    height: 110px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.games-details p{
    color: black;
    padding: 5px 10px;
    color: gray;
}

.games-details h3{
    margin: 0;
    padding: 5px 10px;
    color: #4678B0;
}

.games-details h2{
    margin: 0;
    padding: 5px 0;
}

.details-right{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details-right h2{
    color: black;
}

.details-right button{
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #57A4CC;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.details-right  button:hover{
    background-color: #1E3859;
}

.details-left{
    width: 200px;
}